@import 'variables';

.presentation {
    img {
        position: absolute;
        height: 270px;
        object-fit: cover;
        width: 100%;
        z-index: -1;
    }
}

header {
    a {
        @include center();
        .fas {
            font-size: 19px;
            left: 25px;
            position: absolute;
        }
    }
}

.menu {
    @include center();
    flex-direction: column;
    margin-top: 220px;
    padding: 35px 0 0 0;
    background-color: $grey_background;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    &__container {
        width: 90%;
        max-width: 500px;
        div {
            @include center(column);
            justify-content: space-around;
        }
        .name_heart {
            flex-direction: row;
            font-size: 23px;
            width: 100%;
        }
        .heart {
            @include center()
        }
        @include heart();
    }

    .description {
        @include center();
        border-radius: 15px;
        margin-top: 15px;
        height: 70px;
        width: 100%;
        box-shadow: $shadow;
        background-color: $blue_main;
        animation: fadein 2s;
        opacity: 0;
        animation-fill-mode: forwards;
        &__container {
            @include center();
            background-color: $background;
            width: 100%;
            border-radius: 15px;
            height: inherit;
            animation: leftto_right 1s ease-in 0s 1 normal;
            .meal {
                @include center(column);
                align-items: flex-start;
                height: 45px;
                width: 100%;
                margin-left: 10px;
            }
            .price {
                height: 45px;
                @include center(row);
                align-items: flex-end;
                width: 30px;
                right: 5%;
                h4 {
                    margin-bottom: 3px;
                    font-family: 'Roboto_Regular';
                }
            }
        }
    }

    .description:hover {
        .description__container {
            animation: rightto_left 1s ease-out 0s 1 normal forwards;
        }
        .check {
            animation: test3 1s ease-out 0s 1 normal forwards;
        }
    }

    .dishes:nth-of-type(2) .description:nth-of-type(1) { animation-delay: 0.75s }
    .dishes:nth-of-type(2) .description:nth-of-type(2) { animation-delay: 1s }
    .dishes:nth-of-type(2) .description:nth-of-type(3) { animation-delay: 1.25s }
    .dishes:nth-of-type(2) .description:nth-of-type(4) { animation-delay: 1.37s }
    .dishes:nth-of-type(3) .description:nth-of-type(1) { animation-delay: 1.50s }
    .dishes:nth-of-type(3) .description:nth-of-type(2) { animation-delay: 1.75s }
    .dishes:nth-of-type(3) .description:nth-of-type(3) { animation-delay: 2s }
    .dishes:nth-of-type(4) .description:nth-of-type(1) { animation-delay: 2.25s }
    .dishes:nth-of-type(4) .description:nth-of-type(2) { animation-delay: 2.50s }
    .dishes:nth-of-type(4) .description:nth-of-type(3) { animation-delay: 2.75s }

    h1 {
        width: 90%;
        font-family: 'Shrikhand';
    }

    span {
        margin-top: 8vw;
        width: 100%;
        font-family: 'Roboto_thin';
        font-size: 16px;
    }
}

.check {
    opacity: 0;
    position: relative;
    color: $background;
    left: 60px;
    font-size: 20px;
    animation: test4 1s ease-in 0s 1 normal forwards;
    pointer-events: none;
}

.button {
    margin: 50px 0 85px 0;
}

@keyframes test4 {
    0% {
        transform:rotate(360deg);
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform:rotate(0deg);
        opacity: 0;
    }
}

@keyframes leftto_right {
    from {
        margin-right: 20%;
        width: 80%;
        border-top-right-radius: 0vw;
        border-bottom-right-radius: 0vw;
    }

    to {
        margin-right: 0%;
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@keyframes test3 {
    0% {
        transform:rotate(360deg);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        transform:rotate(0deg);
        opacity: 1;
        display: unset;
    }
}

@keyframes rightto_left {
    from {
        margin-right: 0%;
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    to {
        margin-right: 20%;
        width: 80%;
        border-top-right-radius: 0vw;
        border-bottom-right-radius: 0vw;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@media screen and (max-width: 500px){   
    .check {
        left: 16%;
    }
}